<div [formGroup]="Formc" class="con">
    <div class="container">   
        <div>
            <label for="eMail">E-mail: </label>
            <input type="email" formControlName="email" id="eMail">
        </div>
        
        <div>
            <label for="passw">Password: </label>
            <input type="password" formControlName="password" id="passw">
        </div>
        
        <div>
            <label for="cpassw">Confirm Password: </label>
            <input type="password" formControlName="cPassword" id="cpassw">
        </div>

        <div>
            <label for="nickname">Nickname: </label>
            <input type="text" formControlName="nickName" id="nickname">
        </div>
        
        <div>
            <label for="phnumber">Phone Number: </label>
            <input type="tel" formControlName="phoneNumber" id="phnumber">
        </div>
        <div style="display: flex; align-items:center; padding-right: 100px;">
            <input type="checkbox" id="checkbox" style="cursor: pointer;">
            <h5>
                I have read the <a href="">agreement</a>
            </h5>
        </div>
        <button id="btn" type="submit" [disabled]="Formc.invalid" (click)="register()">Register</button>   
    </div>
    <thead>
        <tr>
            <th>
                email
            </th>
            <th>
                password
            </th>
            <th>
                cpassword
            </th>
            <th>
                nickname
            </th>
            <th>
                phone number
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of formcArray">
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.password}}
            </td>
            <td>
                {{user.cpassword}}
            </td>
            <td>
                {{user.nickName}}
            </td>
            <td>
                {{user.phoneNumber}}
            </td>
            <td>
                <button (click)="editUser(user.id)">
                    edit
                </button>
            </td>
        </tr>
    </tbody>
</div>

