<header>
    <button routerLink="../event-binding" style="background-color: #00ffaa;">
        event-binding
    </button>

    <button routerLink="../form" style="background-color: chocolate;">
        form
    </button>

    <button routerLink="../twoway-binding" style="background-color: aqua;">
        twoway-binding
    </button>

    <button routerLink="../property-binding" style="background-color: burlywood;">
        property-binding
    </button>

    <button routerLink="../interpolation" style="background-color: cornflowerblue;">
        interpolation
    </button>

</header>
  
<router-outlet></router-outlet>
